@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body{
    font-family: Poppins;
    background-color: black;
    margin: 0;
}.carousel-image{
    width: 125%;
    height: 100%;
    margin: 0;
}.container-fluid{
    padding-right:0; padding-left: 0;
}.homepage-carousel{
    margin-bottom: 1%;
    position: relative;
}.home-texts{
    margin-top: 18%;
    margin-left: 12%;
      
    z-index: 5;
    position: absolute;
    color: white;
}.home-texts h1{
    font-size: clamp(1rem, 4vw + 1rem, 5.5rem); 
    font-weight: bolder;
    width: 100%;
    max-width: 800px;
    line-height: 90%;
}