@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;

}

.footer-elpis{
    margin-top: 1%;
    width: 100%;
    padding: 5% 15% 3% 15%;
    background: #e2e2e7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    bottom: 0%;
    left: 0%;   
}

.footer-elpis  h3 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    color :black;
}

.foot-col-1, .foot-col-2, .foot-col-3 {
    overflow: hidden;
    text-align: justify;
    width: 15%;
}

.foot-col-1 a, .foot-col-2 a, .foot-col-3 a {
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: black;
}

.footer-elpis a:hover {
    color: rgb(255, 253, 248);
    transition: all 0.2s;
}

.col-4 {
    width: 17%;
    text-align: right;
}

.social-icons i {
    font-size: 24px;
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
}

.footer-bottom {
    width: 100%;
    display: flex;
    align-items: baseline;
    margin-top: 1%;
}

.footer-bottom .bot-left {
    text-align: left;
    font-size: 12px;
    width: 50%;
}

.footer-bottom .bot-right {
    text-align: right;
    width: 50%;
}

.footer-bottom .bot-right a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding-inline-start: 5px;
}

hr {
    width: 100%;
    opacity: 100;
    border: 0;
    border-bottom: 1px solid black;
    margin-top: 7%;
}

.material-icons:focus{
    color: #D26262;
}