@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body{
    font-family: Poppins;
    background-color: rgb(255, 255, 255);
}.log-in-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-flow:wrap;

    margin-top: 8%;
}
.left-log{
    width: 100%;
    max-width:850px;
    background-color: white;
    padding: 3%;
    
    border-style: solid;
    border-width: 0; border-left-width: 2px;
    border-color: #cecece;

}

.right-log{
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 3%;
}
.right-log h1, .left-log h1{
    font-size: clamp(1rem, 4vw + 1rem, 4rem);
    font-weight: bolder;
    color: #D26262;
    margin: 0;
}.right-log p{
    font-weight: 600;
    color: #D26262;
}.left-log p {
    font-weight: 600;
}

.right-log h4{
    font-weight: bold;
}.right-log input{
    cursor: pointer;
}
.log-input{
    width: 100%;
    padding: 2%;
    margin-bottom: 1%;
    border: none;
    background-color:  #faf0f0;;
}
.sign-in-button{
    font-weight: bolder;
    font-size:20px;
    background-color: #D26262;
    width: 100%;
    border-style: solid;
    border-color: #D26262;
    border-width: 3px;
    color: white;
    cursor: pointer;
    transition: 0.2s;

    margin-top: 4%;
}.sign-in-button:hover{
    transition: 0.2s;
    background-color: white;
    color: #D26262;
}
