@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

nav{
    font-family: Poppins;
    font-weight: 700;
    font-size:20px;
}.navbar { 
    min-height: 84px;
    border-top: 0; border-right: 0; border-left: 0; border-bottom: 1.5px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
}.nav-logo{
    position: absolute;
    width: 118px;
    height: 41px;
    left: 12%;
    top: 19px;
}.navbar-nav{
    margin-left: 19%;
    margin-top: 0.2%;
}.nav-link{
    margin-left: 10.28px;
}.form-control{
    padding: 10px;
}input.search-bar{
    margin-top: 0.2%;
    border-radius: 6px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    padding-left: 15px; padding-right: 30px;
    opacity: 70%;
    background-image: url("search-icon.png");
    background-position: 269px 6px; 
    background-size: 7%;
    background-repeat: no-repeat;
    margin-bottom: 3px;
}.nav-icons{
    margin-right: 12.45%;
    margin-left: 20%;
}.buttons{
    text-decoration: none;
    color: #707071;
    vertical-align: bottom;
}.mat-nav-icons{
    padding: 11px; margin-top: 13px;
    font-size: 30px;
    line-height: 0.5px;
    color: #707071;
}.mat-nav-icons:hover{
    color: rgb(27, 27, 27);
}

