@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

nav {
    width: 100%;
    padding: 0.4% 10%;
    border-bottom: 2px solid rgb(180, 180, 180);
    display: flex;
    position: static;
    align-items: center;
    top: 0%;
    left: 0%;
}

.navbar-logo-img {
    width: 45px;
    margin-right: 8px;
}

.navbar-title h2, p {
    display: inline-block;
}

.navbar-title h2 {
    font-size: 45px;
    letter-spacing: 0.5px;
    margin-right: 5px;
}

.navbar-title a {
   text-decoration: none;
   color: black;
}

footer {
    background-color: #eee;
    font-size: 12px;
    text-align: center;
    margin-top: 1%;
    padding: 5px;
    position: static;
    bottom: 0%;
    left: 0%;
    width: 100%;
}

.container {
    width: 80%;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.main {
    flex: 0 1 auto;
    width: 70%;
}

.top-img {
    width: 100%;
    position: relative;
}

.top-img-text {
    font-size: 45px;
    font-weight: 800;
    color: crimson;
    letter-spacing: 00.5px;
    line-height: 45px;
}

.top-img-text span {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.accordion {
    width: 100%;
}

details div {
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	padding: 1.5em;
    text-align: justify;
}

details div > * + * {
	margin-top: 1.5em;
}

details + details {
	margin-top: .5rem;
}

summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary {
	border: 2px solid #000;
	padding: .75em 1em;
	cursor: pointer;
	position: relative;
	padding-left: calc(1.75rem + .75rem + .75rem);
}

summary:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: .75rem;
	content: "+";
	width: 1.75rem;
	height: 1.75rem;
	background-color: #000;
	color: #FFF;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

details[open] summary {
	background-color: #eee;
}

details[open] summary:before {
	content: "-";
}

summary:hover {
	background-color: #eee;
}

ul {
    padding-left: 1.3em
}

.FAQ-text {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    padding-top: 5px;
}

.side {
    flex: 0 1 auto;
    margin-right: 40px;
    width: 30%;
    height: auto;
}

.side-title a{
    color: crimson;
    text-decoration: none;
}
  
.side-t a {
    padding: 6px 8px 3px 16px;
    margin-bottom: 1%;
    text-decoration: none;
    font-size: 17px;
    display: block;
    color: black;
}
  
.side-t a:hover, .side-a-cc a:hover {
    background-color: rgb(149, 149, 149);
}

input {
    line-height: 26px;
    border: 2px solid #222;
    padding: 3% 10px;
    color: black;
    font-size: 14px;
    width: 100%;
    border-radius: 25px;
    background-image: url("IMG/search-icon.png");
    background-position: 50px 10px; 
    background-size: 7%;
    background-repeat: no-repeat;
    margin-bottom: 2%;
}

.side-title {
    font-size: 21px;
    color: crimson;
}

.customer-care {
    margin-top: 2rem;
}

.side-a-cc a {
    padding: 15px;
    margin-bottom: 4%;
    text-decoration: none;
    font-size: 17px;
    display: block;
    color: black;
    border: 2px solid black;
    text-align: center;
}